@import "tailwindcss";

@theme {
  --font-squada: var(--font-squada-next);
  --font-squadaOne: var(--font-squada-next);
  --font-signika: var(--font-signika-next);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}