@import "tailwindcss";

@theme {
  --font-squadaOne: var(--font-squadaOne);
  --font-signika: var(--font-signika);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}